
<span class="grow-container">
    <a href="https://www.youtube.com/c/KritaOrgPainting" target="_blank" class="circle-button">
        <img src="images/social-media/social-youtube.png" />
    </a>
</span>

<span class="grow-container">
    <a href="https://twitter.com/Krita_Painting" target="_blank" class="circle-button">
        <img src="images/social-media/social-twitter.png" />
    </a>
</span>

<span class="grow-container">
    <a href="https://www.instagram.com/krita_foundation/" target="_blank" class="circle-button">
        <img src="images/social-media/social-instagram.png" />
    </a>
</span>

<span class="grow-container">
    <a href="https://www.reddit.com/r/krita/" target="_blank" class="circle-button">
        <img src="images/social-media/social-reddit.png" />
    </a>
</span>

<span class="grow-container">
    <a href="https://krita-free-art-app.deviantart.com/" target="_blank" class="circle-button">
        <img src="images/social-media/social-deviantart.png" />
    </a>
</span>

<span class="grow-container">
    <a rel="me" href="https://mastodon.art/@krita" target="_blank" class="circle-button">
        <img src="images/social-media/social-mastodon.png" />
    </a>
</span>

<span class="grow-container">
    <a href="https://vk.com/ilovefreeart" target="_blank" class="circle-button">
        <img src="images/social-media/social-vk.png" />
    </a>
</span>
