<div class="support-krita-callout">

    <hr />
   
<div class="row" style="align-items: center">
    <div class="col-md-4 illustration">
        <img src="images/pages/2021-11-16_kiki-piggy-bank_krita5.png" />
    </div>

    
    <div class="col-md-8">
        <h3 style="margin-top: 0;">{{ i18n "support-krita-callout-title" }}</h3>
        <p>{{ i18n "support-krita-callout-description" }} </p>
        <a href="{{ relLangURL "/donations" }}" class="ghost button">{{ i18n "donate" }}</a>
        <a href="{{ relLangURL "/shop" }}" class="ghost button">{{ i18n "buy-something" }}</a>
    </div>

</div>

<hr />


</div>
